@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&family=DM+Mono:wght@300;400;500&family=Press+Start+2P&family=VT323&display=swap');

:root {
  font-family: 'DM Mono', 'VT323', 'Press Start 2P', monospace;
  line-height: 1.6;
  font-weight: 400;
  color: #e9f4ff;
  background-color: #050910;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #f7c879;
  text-decoration: none;
}

a:hover {
  color: #ffdca6;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050910;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
